<!-- New  -->
{{#each blogs as |blog|}}
<br>
  <div class="panel panel-info" data-id="{{blog.id}}">
    {{#if blog.title}}
      <div class="panel-heading">{{blog.title}} - {{blog.date}}</div>
    {{else}}
      <div class="panel-heading">No Title - {{blog.date}}</div>
    {{/if}}
      <div class="panel-body">
        {{blog.textcontent}}
      </div>
    </div>
  </div>
{{/each}}
