
<!-- New  -->
{{#each sites as |site|}}
<br>
  <div class="panel panel-info" data-id="{{site.id}}">
    {{#if site.title}}
      <div class="panel-heading">{{site.title}}</div>
    {{else}}
      <div class="panel-heading">No Title</div>
        {{/if}}
      {{#if site.description}}
        <div class="panel-body">{{site.description}}</div>
      {{else}}
        <div class="panel-body">No Description</div>
    {{/if}}
      <div class="panel-footer">
        <button class="view btn btn-primary">View Site</button>
      </div>
    </div>
  </div>
{{/each}}
