<!-- New  -->
<br>
  <div data-id="{{site.site.id}}">
    {{#if site.site.title}}
      <h1>{{site.site.title}}</h1>
    {{else}}
      <h1>No Title</h1>
    {{/if}}
      {{#if site.site.description}}
      <p>
        {{site.site.description}}
      </p>
      {{else}}
        <p>No description</p>
      {{/if}}
    </div>
  </div>
